
*{
    margin: 0px;
    padding: 0px;
    background-color: #484760;
    color: #f0f8ff;
}
#controla-Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    border: 3px solid black;
}
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00ee08;
  
}