/* cores: #009900    */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap'); /* font-family: "Luckiest Guy", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); /*  font-family: "Staatliches", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap'); /*  font-family: "Zen Maru Gothic", serif; */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --corForte1: #6e5042;
    --corForte2: #4b86b4;
    --corForte3: #806b6d;
    --corForte4: #0000001a;
    --corClara1: #e8d7d3;
    --corClara2: #967b6e;
    --corClara3: #ffffff;
    --corMedia1: #63ace5;
    --corMedia2: #8dd3ff;
    

    --fontePrincipal: "Luckiest Guy", cursive;
    --fonteSecundaria: "Staatliches", sans-serif;
    --fontEspecial: "Zen Maru Gothic", serif;
}

[data-tema1="temaPrincipal"] {
    background-color: var(--cor3);
}

#estiloTabela{
    margin-left: 200px;
    margin-right: 200px;
    width: 15%;
    height: 15%;
}
.resultado{
    display:flex;
    flex-direction: row;
    background-color: var(--corClara3);
    width: 86.5%;
    height: 35px;
    margin: auto;
    border: 2px solid var(--corForte1); /* Borda sólida */
    margin-top: 2px;
    justify-content: center;
    align-items: center;
    

}
.baseGeral {

    width: 85%; /* Defina a largura desejada */
    margin: 0 auto; /* Isso centralizará a baseGeral horizontalmente */
    padding: 20px; /* Adicione um preenchimento interno */
    background-color: var(--corClara1); /* Cor de fundo */
    border: 4px solid var(--corForte1); /* Borda sólida */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px var(--corForte4); /* Sombra */
    display: flex; /* Usando flexbox */
    flex-direction: row; /* Colocando os elementos em coluna */
    align-items: center; /* Alinhando os elementos ao centro horizontalmente */
    gap: 15px;
}

.baseGeral input {
    
    width: 55%;
    height: 15x;
    margin-bottom: 10px;
    margin-top: 18px;
    padding: 8px;
    border: 2px solid var(--corForte1);
    border-radius: 5px;
    font-size: 16px;
}

/* Estilizando botões dentro de .baseGeral */
.baseGeral button {
    display: block; /* Para que os botões ocupem toda a largura da .baseGeral */
    width: 85%;
    height: 37px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    background-color: var(--corForte2);
    color: var(--corClara3);
}

/* Estilizando a div resultadoIMC dentro de .baseGeral */
.baseGeral{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid var(--corForte1);
    border-radius: 5px;
    background-color: var(--corClara2);
    font-size: 18px;
}
body{
    background-color: var( --corClara1);
}
nav{
    display: flex;
    justify-content: center;
}
li a:hover{
    background-color:  var(--corForte2);
}
li a{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color:  var(--corForte3);
    padding: 12px;
    border: 2px solid var(--corClara1);
    height: 10px;
    width: 480px;
    font-family: "Questrial", sans-serif;
    border-radius: 33px;
    box-shadow: 4px 4px 4px  var(--corForte1);
    margin-bottom:5px ;
    color: var(--corClara3);
}

button{
     background-color: var(--corForte2);
     border-radius:6px;
     color:  var(--corClara3);
     margin-left:20px;
     opacity: 1 0;
}
 footer{
    margin-top: 200px;
    text-align: center;
 }
#h1-principal{
    
    background-color: var(--corForte3);
    border-style: double;
    border: 4px solid  var(--corClara3);
    text-align: center;
    font-size: 44px;
    font-family: var(--fonteSecundaria);
    text-shadow: 2px 2px 2px var(--corForte2);
    height: 50px;
    width:auto;
    border-radius: 33px;  
    box-shadow: 4px 4px 4px var(--corForte3);
    margin-top: 74px;
    margin: auto;
    color: var(--corClara3);
}
#h2-principal{
    text-align: center;
    font-family: "Questrial", sans-serif;
    text-shadow: 1px 1px 2px var(--corMedia2);
    margin-top: 13px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-right: 95%;
  }
  th, td {
    border: 1px solid var(--corForte4);
    padding: 3px 0 0 5px;
    text-align: left;
    font-size: 8px;
     
  }
  th {
    background-color: var(--corForte2);
    color: var(--corClara3);
  }
  tr {
    background-color: #f2f2f2;
  }
 
  
  /* seletor que seleciona todas as linhas pares (even) dentro de uma tabela (tr). 
  Isso significa que ele aplicará 
  um estilo a cada segunda linha da tabela. */
  
  /* tr:nth-child(even) {
    background-color: var(--corMedia1);
  } */
